export(FactivaSource, readFactivaXML, readFactivaHTML)
S3method(getElem, FactivaSource)
S3method(eoi, FactivaSource)
importFrom(tm, XMLSource, readXML, PlainTextDocument, meta, getElem, eoi)
importFrom(XML, xmlRoot, xmlValue, xmlAttrs, getNodeSet, readHTMLTable, xmlChildren)
