export(FactivaSource, readFactivaXML, readFactivaHTML)
S3method(getElem, FactivaSource)
importFrom(NLP, meta, "meta<-")
importFrom(tm, eoi, getElem, FunctionGenerator, PlainTextDocument, readXML, SimpleSource, XMLSource)
importFrom(XML, getNodeSet, htmlParse, free, readHTMLTable, saveXML, xmlAttrs, xmlChildren, xmlParse, xmlRoot, xmlValue)
