export(FactivaSource, readFactivaXML, readFactivaHTML)
S3method(getElem, FactivaSource)
importFrom(tm, eoi, getElem, FunctionGenerator, meta, "meta<-", PlainTextDocument, readXML, Source, XMLSource)
importFrom(XML, getNodeSet, free, readHTMLTable, xmlAttrs, xmlChildren, xmlParse, xmlRoot, xmlValue)
