export(FactivaSource, readFactivaXML, readFactivaHTML)
S3method(getElem, FactivaSource)
importFrom(NLP, meta, "meta<-")
importFrom(tm, eoi, getElem, FunctionGenerator, PlainTextDocument, readXML, SimpleSource, XMLSource)
importFrom(xml2, read_xml, read_html, xml_attr, xml_children, xml_find_all, xml_ns_strip, xml_text)
importFrom(rvest, html_table)
