export(EuropresseSource, readEuropresseHTML)
S3method(getElem, EuropresseSource)
importFrom(NLP, meta, "meta<-")
importFrom(tm, getElem, FunctionGenerator, PlainTextDocument, SimpleSource)
importFrom(XML, free, getNodeSet, htmlParse, saveXML, xmlParse, xmlValue)
