import(Rcmdr, stats, utils,
       tm, slam, zoo, ca, R2HTML, lattice, latticeExtra, RColorBrewer)
importFrom(tcltk, addTclPath, ttkcombobox, tkgrid.propagate, tkwidget)
# We only need the Tcl package tablelist
importFrom(tcltk2, tk2tablelist)

exportPattern("^[^\\.]")
